$cardHeaderColor: #fff;
$cardHeaderBGMain: #4B647D;
$cardHeaderBGModules: #6092C4;
$cardHeaderBGSocials: #91BCE6;

.card-top{
  text-align: center;
  background: silver; // fallback
  color: $cardHeaderColor;
  main &{
    background: $cardHeaderBGMain;
  }
  .modules &{
    background: $cardHeaderBGModules;
  }
  .socials &{
    background: $cardHeaderBGSocials;
  }
}

.badge{
  #specializations &,
  questions &{
    margin: 0px 2px;
  }
}

.responsive{
  max-width: 100%;
  box-shadow: 0 3px 10px #ccc;
}

.alert{
  display: none;
  &.display{
    display: block;
  }
}