.card-top{
  text-align: center;
  background: silver; // fallback
  color: #fff;

  main &{
    background: #4B647D;
  }

  .modules &{
    background: #6092C4;
  }

  .socials &{
    background: #91BCE6;
  }
}

.badge{
  #specializations &,
  questions &{
    margin: 0px 2px;
  }
}