<main class="pt-4">
    <div class="container mb-5">

        <div class="row">
            <div class="col">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                    </ol>
                </nav>
                {{#alert}}
                    <div class="alert alert-info tutorial-alert" id="tutorialInfo" role="alert">{{{ alert }}}</div>
                {{/alert}}
                {{#info}}
                    <div class="alert alert-danger tutorial-alert" id="tutorialAlert" role="alert">{{{ info }}}</div>
                {{/info}}
            </div>
        </div>
        <section id="content">
            <links class="row">
                <nav class="col">
                    <ol id="toc">
                        {{#questions}}
                            <li><a href="#{{ link }}">{{ question }}</a></li>
                        {{/questions}}
                    </ol>
                </nav>
            </links>
            <questions class="row">
                {{#questions}}

                    <div class="col-12" id="{{ link }}">
                        <card class="card my-2">
                            <cardHeader class="card-header">
                                <span><strong>{{ question }}</strong></span>
                            </cardHeader>
                            <cardBody class="card-body">
                                {{{ answerHTML }}}
                                {{#tags}}
                                    <span class="badge bg-primary text-light">{{ . }}</span>
                                {{/tags}}
                            </cardBody>
                        </card>
                    </div>

                {{/questions}}
            </questions>
        </section>
    </div>
</main>