@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$headings-font-family: "Roboto", sans-serif;
$font-family-base: "Roboto", sans-serif;

*{
    font-family: "Roboto", sans-serif;
}

main{
    img, p{
        display: block;
        max-width: 100%;
        width:600px;
    }
}

.navbar-brand{
    font-family: "Moirai One", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: -4px;
    font-size: 22px;
}