@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

$cardHeaderColor: #fff;
$cardHeaderBGMain: #4B647D;
$cardHeaderBGModules: #20c997;
// $cardHeaderBGSocials: #91BCE6;

$h1font: 'Moirai One', cursive;

h1{
    font-family: $h1font;
    font-weight: normal;
}

#indexBanner{
  min-height: 250px;
  overflow: hidden;
  background-image: url('../images/pennybanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .card-title{
    margin-bottom: 0px;
  }

  .card-img-overlay{
    background-color: none;
    // background-color: rgba(0,0,0,0.2);
    padding: 4.5rem 1.25rem 0rem;
  }
}

.card-top{
  text-align: center;
  background: silver; // fallback
  color: $cardHeaderColor;
  main &{
    background: $cardHeaderBGMain;
  }
  .modules &{
    background: $cardHeaderBGModules;
  }
//   .socials &{
//     background: $cardHeaderBGSocials;
//   }

  i, span{
    font-size: 40px !important;
  }
}

.card{
  .btn{
    i, span{
      margin-right: 10px;
    }
  }
}

.badge{
  questions &{
    margin: 0px 2px;
  }
}

.responsive{
  max-width: 100%;
  box-shadow: 0 3px 10px #ccc;
}

.tutorial-alert{
  display: none;
  &.display{
    display: block;
  }
}