{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col mb-3">
            <div class="card text-bg-dark" id="indexBanner">
                {# <img src="images/indexbanner.jpg" class="card-img"> #}
                <div class="card-img-overlay text-white">
                    <h5 class="card-title">Medewerkers website Leanne de Goeij</h5>
                    <p class="card-text">
                        Docent programmeren bij de opleiding Creative Media & Game Technologies.
                        <br/>
                        Hieronder vind je wat praktische links voor de opleiding.
                    </p>
                    <p class="card-text">
                        Mis je informatie in één van de wikis?<br/>
                        <a href="https://teams.microsoft.com/l/chat/0/0?users=GoeLR@hr.nl" target="_blank"
                            class="btn btn-secondary btn-sm">Laat me het dan weten!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <links class="row">

    </links>
{% endblock %}

{% block javascript %}
<script src="js/index.js"></script>
{% endblock %}