{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col mb-3">
            <div class="card text-bg-dark" id="indexBanner">
                {# <img src="images/indexbanner.jpg" class="card-img"> #}
                <div class="card-img-overlay text-white align-text-bottom">
                    <h1 class="card-title text-center fs-1">Leanne de Goeij</h1>
                    <p class="card-text text-center">
                        Docent programmeren bij de opleiding Creative Media & Game Technologies.
                        <br/>
                        Hieronder vind je wat praktische links voor de opleiding.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <links class="row">

    </links>
    <div class="row">
        <div class="col mb-3">
            <div class="alert alert-dark" role="alert">
                Mis je informatie in één van de wikis?
                <a href="https://teams.microsoft.com/l/chat/0/0?users=GoeLR@hr.nl" target="_blank"
                    class="btn btn-sm btn-dark stretched-link"><i class="bi bi-microsoft-teams"></i> Laat me het dan weten!</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="js/index.js"></script>
{% endblock %}